* {
    margin: 0px;
    padding: 0px;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    color: #2e2e2e;
}

html,
body {
    background-color: #ececec;
    min-height: 100vh;
    min-width: 100vw;
}

.content {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);

    width: 75%;
}
