---
import { Image } from "astro:assets";
import DP from "../assets/dp.jpeg";
import LI from "../assets/linkedin_icon.svg";
import GM from "../assets/gmail_icon.svg";
import GH from "../assets/github_icon.svg";
---

<h2>About</h2>
<div class="header-line"></div>

<section class="about">
    <div class="about-content">
        <section class="about-content-text">
            <h3>
                My Name is Harshit and I Am a Backend Developer with 4 Years
                Work Experience and I Have Been Coding for Over 12 Years Now.
            </h3>

            <p>
                Enough of the work talk, I want this website to talk about me as
                a human and not as a resume. 😁
            </p>
            <p>
                So what do I want you guys to know about me? I am an audio
                enthusiast. I have way too many audio products around my room
                from speakers to 3 headphones to an IEM and 2 TWS. I love how
                good audio can make music feel immersive and alive.
            </p>
            <p>
                I enjoy reading but I don't read fast. Currently I am reading
                this web novel called Lord of Mysteries and it is the best read
                by far. LOTM's world-building and mystery hooks keep me coming
                back. But how slow do I read... I have been reading LOTM for
                nearly 2 years and that's just book 1! 😂
            </p>
            <p>
                I am a casual gamer. I am into roguelike games and I am
                currently playing Hades 2. Still haven't beaten Typhon yet but
                it will happen soon enough! Roguelikes give me that perfect "one
                more run" challenge.
            </p>
            <p>
                Finally I am a huge anime fan! Not a fan who knows all the
                animes but who is more than a casual fan. 😎 I enjoy more chill
                animes but you can never go wrong with a good anime fight in my
                opinion. Chill animes help me unwind, but epic fights are pure
                adrenaline.
            </p>
            <p>
                That's a bit about me! If you want to read more on my thoughts
                then do check out my blog!
            </p>
            <p>
                If you want to reach out you can connect with me with the links
                provided below. ↓
            </p>
        </section>
        <section class="more-info">
            <a
                href="https://linkedin.com/in/harshit-chelladurai"
                target="_blank"
                class="linkedin"
            >
                <button>
                    <Image src={LI} alt="LinkedIn" width={24} height={24} />
                </button>
            </a>
            <a
                href="https://github.com/HarshitCd"
                target="_blank"
                class="github"
            >
                <button>
                    <Image src={GH} alt="Github" width={24} height={24} />
                </button>
            </a>
            <a
                href="mailto:harshitchelladurai@gmail.com"
                target="_blank"
                class="email"
            >
                <button>
                    <Image src={GM} alt="Gmail" width={24} height={24} />
                </button>
            </a>
            <a
                href="/Harshit_Chelladurai_Resume.pdf"
                target="_blank"
                rel="noopener noreferrer"
                download
            >
                <button class="resume">Resume</button>
            </a>
        </section>
    </div>
    <Image src={DP} alt="me" class="about-pic" />
</section>

<style>
    h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    .header-line {
        border-top: solid 1px #bebebe;
        margin-bottom: 2.5rem;
        width: 100%;
    }

    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        gap: 2rem;

        margin-bottom: 2.5rem;
    }

    .about-content-text > * {
        margin-bottom: 1em;
    }

    .about-content-text h3 {
        font-weight: 500;
        font-size: 1.4rem;
    }

    .about-content p {
        font-size: 0.9rem;
    }

    .about-pic {
        border: solid 1px #bebebe;
        border-radius: 20px;

        max-width: 85vw;
        width: 25rem;
        height: auto;

        transform: scaleX(-1);
        order: -1;
    }

    .more-info {
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 1.25rem;
    }

    a {
        text-decoration: none;
    }

    .more-info button {
        display: flex;
        align-items: center;

        background-color: #ececec;
        border: solid 1px #bebebe;
        border-radius: 3px;

        padding: 1rem;
        height: 4rem;

        cursor: pointer;

        font-size: 1rem;
        font-weight: 500;
    }

    button:hover {
        background-color: #dcdcdc;
    }

    @media (min-width: 720px) {
        h2 {
            font-size: 4rem;
        }

        .about {
            flex-direction: row;
        }

        .about-content p {
            font-size: 1rem;
        }

        .about-pic {
            order: 0;
        }
    }
</style>
