---
import { Image } from "astro:assets";
import DP from "../assets/dp.jpeg";
---

<h2>Contact Me</h2>
<div class="header-line"></div>

<style>
    h2 {
        font-size: 2rem;
    }

    .header-line {
        border-top: solid 3px #2e2e2e;
        margin-bottom: 2.5rem;
        width: 90%;
    }

    @media (min-width: 640px) {
        h2 {
            font-size: 5rem;
        }

        .header-line {
            border-top: solid 6px #2e2e2e;
            margin-bottom: 2.5rem;
            width: 43%;
        }
    }
</style>
