---
import { getCollection } from "astro:content";
import BlogCard from "./BlogCard.astro";

interface Blog {
    title: string;
    summary: string;
    tags: string[];
}

const blogs = await getCollection("blogs");
blogs.reverse();
---

<h2>My Thoughts</h2>
<div class="header-line"></div>

<ul>
    {blogs.map((blog) => <BlogCard blog={blog} />)}
</ul>

<style>
    h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    .header-line {
        border-bottom: solid 3px #2e2e2e;
        margin-top: 0.3rem;
        margin-bottom: 2rem;
        width: 90%;
    }

    ul {
        list-style-type: None;
    }

    @media (min-width: 640px) {
        h2 {
            font-size: 4rem;
        }

        .header-line {
            border-bottom: solid 6px #2e2e2e;
            margin-bottom: 2.5rem;
            width: 40%;
        }
    }
</style>
