<nav>
    <div class="main">
        <a href="/">Talking Shit</a>
    </div>

    <div class="nav-options">
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
</nav>

<style>
    a {
        text-decoration: none;
    }

    nav {
        display: none;

        left: 0;
        right: 0;
        margin: 0 auto;

        width: 85%;

        background-color: #ececec;

        padding-top: 0.5rem;
        margin-bottom: 1.5rem;

        border-bottom: 1px solid #bebebe;
        padding-bottom: 0.5rem;

        z-index: 1000;
    }

    .main a {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .nav-options {
        display: none;
    }

    @media (min-width: 640px) {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            position: sticky;
            top: 0;

            margin-bottom: 2.5rem;
        }

        .main a {
            font-size: 2rem;
            font-weight: 600;
        }

        .nav-options {
            display: flex;
            gap: 1rem;
        }

        .nav-options a {
            padding: 0.5rem;
        }

        .nav-options a:hover {
            background-color: #dedede;
        }

        .hamburger {
            display: none;
        }
    }
</style>

<script>
    const hamburger = document.getElementById("hamburger");

    // Toggle menu on button click
    hamburger?.addEventListener("click", (e) => {
        e.stopPropagation();
        hamburger.classList.toggle("active");
    });
</script>
